/*KOMINIARZ Anaïs*/


body{
	background-color: #EFECCA;
	font-family: Helvetica, Arial;
	/*padding: 10px;*/
}

h1{
	color: #C03000;
}

h2 {
	color:#4BB5C1;
}

ul{
	list-style: none;
}

nav a{
	text-decoration:none;
	color: white;
}

nav a:hover{
	background-color: #009900;
}

nav a:focus{
	background-color: #009900;
}

li{
	padding: 10px;
	display: inline;
	background-color: #C03000;
	border: solid #660000;
}

footer a{
	color:#0000FF;
	text-decoration: none;
	font-weight: bold;
}

body article p {
	/*margin-bottom: -20px;*/
}